[bench]
name = "CIFAR10_ResNetv1_float32_train"
seed = 1
first_run = 1
last_run = 1

[learningframework]
kind = 'PyTorch'

[deploy]
target = 'Linux'
converter.kind = 'QualiaCodeGen'
quantize = ['float32']
optimize = ['']
compress = [1]
#limit = 50

[dataset]
kind = "CIFAR10"
params.path = "data/cifar-10-batches-py/"

[[preprocessing]]
kind = "Class2BinMatrix"
params.classes = 10

[[preprocessing]]
kind = "Normalize"
params.method = 'z-score'
params.axis = 0
params.debug = true

[model_template]
kind = "ResNet"
epochs = 60
batch_size = 512
params.prepool 		= 1
params.strides		= [1, 2]
params.num_blocks	= [2]
params.dims		= 2

[model_template.optimizer]
#kind = "SGD"
kind = "Adam"
params.lr               = 0.01
#params.momentum		= 0.9
params.weight_decay	= 5e-4

[model_template.optimizer.scheduler]
kind = "MultiStepLR"
params.milestones	= [20, 40, 50]
params.gamma		= 0.1

[[model]]
name = "cifar10_resnetv1_8"
params.filters 		= [8, 8]
params.kernel_sizes 	= [3, 3]
params.paddings		= [1, 1]
params.batch_norm 	= true
disabled = true

[[model]]
name = "cifar10_resnetv1_16"
params.filters 		= [16, 16]
params.kernel_sizes 	= [3, 3]
params.paddings		= [1, 1]
params.batch_norm 	= true
disabled = true

[[model]]
name = "cifar10_resnetv1_24"
params.filters 		= [24, 24]
params.kernel_sizes 	= [3, 3]
params.paddings		= [1, 1]
params.batch_norm 	= true
disabled = true

[[model]]
name = "cifar10_resnetv1_32"
params.filters 		= [32, 32]
params.kernel_sizes 	= [3, 3]
params.paddings		= [1, 1]
params.batch_norm 	= true
disabled = true

[[model]]
name = "cifar10_resnetv1_40"
params.filters 		= [40, 40]
params.kernel_sizes 	= [3, 3]
params.paddings		= [1, 1]
params.batch_norm 	= true
disabled = true

[[model]]
name = "cifar10_resnetv1_48"
params.filters 		= [48, 48]
params.kernel_sizes 	= [3, 3]
params.paddings		= [1, 1]
params.batch_norm 	= true
disabled = true

[[model]]
name = "cifar10_resnetv1_64"
params.filters 		= [64, 64]
params.kernel_sizes 	= [3, 3]
params.paddings		= [1, 1]
params.batch_norm 	= true
disabled = true

[[model]]
name = "cifar10_resnetv1_80"
params.filters 		= [80, 80]
params.kernel_sizes 	= [3, 3]
params.paddings		= [1, 1]
params.batch_norm 	= true
disabled = true


[[model]]
name = "cifar10_resnetv1-14"
params.filters 		= [64, 64, 128, 256]
params.kernel_sizes 	= [7, 3, 3, 3]
params.strides		= [1, 2, 2, 2]
params.paddings		= [3, 1, 1, 1]
params.num_blocks	= [2, 2, 2]
params.batch_norm 	= true
disabled = false
